<!DOCTYPE html>
{% extends 'partials/header.html' %}
<link href='http://127.0.0.1:8000/static/https:/fonts.googleapis.com/css?family=Titillium+Web' rel="stylesheet" type="text/css">
{% block content %}
{% load staticfiles %}
<body>
   <div class="jumbotron container ">
	   <img src="{% static "images/templogo.png"%}" width="250px"  id="logopic" alt="can't show"/>
	   <section class="row">
	   <div class="column">
		   <p> a;sdlkfj as;dlkfj as;lkdfj ;laskdjf ;laskdjf ;al fd fsdfjkas;dlkfjas;dlkfjas;ldfkjas;ldkfjas;ldkfj ;lkasdjf;laskjdf;laskdjf; kjas;dlfkajs;dlkfjas;d l;kasdjf;laksdjf;lkadsj asldkfj a;lskfjd sadf;lkj</p> 
	   </div> 
	   <div class="column">
		   <p>a;sldfka; as;ldk fja;lskdf j;alsdkfja;lsdfkjas;ldkfjas; df</p>
	   </div>
	   </section>
	   <section class="content">
		   <p> as;ldkfja;sldfjk as;ldkfj a;sldkfj a;lsdkfj a;lsdkfj a;sldkfja;sldkfja;sldkfjas;ldkfja sldkfja;sldkfj as;ldkj;laskdfj;alsdkfjas;d ;laksdjfaslk</p>
	   </section>

   </div>

</body>
{% endblock %}
